main {
  display: flex;
}

header {
  position: sticky;
  flex-shrink: 0;
  top: 0;
  background-color: #212121;
  height: 100vh;
  width: 300px;
  padding: 24px;
  .logo {
    margin: 0 auto;
    width: 180px;
    margin-bottom: 36px;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    li {
      a {
        min-width: 240px;
        text-align: center;
        display: inline-block;
        border-radius: 9999px;
        background-color: #cb8882;
        color: #000;
        padding: 12px 0;
        font-weight: 600;
        &:hover {
          scale: 1.15;
        }
        &.active {
          scale: 1.15;
          color: #fff;
        }
      }
    }
  }
}

section.layout {
  width: 100%;
  background-color: #cb8882;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  .frame {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    footer {
      // position: absolute;
      // bottom: 0;
      background-color: #a8497a;
      padding: 32px;
      h3 {
        text-align: center;
        margin-bottom: 24px;
      }
      .info-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .students {
          max-width: 30%;
          min-width: 180px;
          img {
            width: 100%;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 12px;
          color: #fff;
          flex-grow: 1;
          max-width: 400px;
          .info-item {
            border-radius: 9999px;
            padding: 12px 24px;
            background-color: #e36267;
            white-space: nowrap;
            border: 1px solid #000;
            &:nth-child(2) {
              background-color: #871b0f;
            }
            &:nth-child(3) {
              background-color: #cf3b28;
            }
          }
        }
      }
    }
  }
}

.badge {
  clip-path: polygon(0 0, 88% 0, 100% 30%, 100% 100%, 0 100%, 0% 50%);
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
  &.c1 {
    background-color: #f6cbcc;
  }
  &.c2 {
    background-color: #e36267;
  }
}

.doc {
  h3 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  h4 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  h5 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    &.in {
      padding-left: 16px;
    }
  }
  ol {
    padding: 0 18px;
    li {
      margin-bottom: 8px;
    }
  }
  ul {
    list-style-type: disc;
    padding: 0 18px;
    li {
      margin-bottom: 8px;
    }
  }
  a {
    display: block;
    margin-bottom: 12px;
  }
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
