.content {
  position: relative;
  padding: 80px;
  flex-grow: 1;

  &.home {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
      width: 770px;
    }
    .ellipse {
      border-radius: 50% / 50%;
      aspect-ratio: 2/1.5;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #000;
      &:hover {
        scale: 1.1;
      }
      &.about-us {
        position: relative;
        width: 350px;
        background-color: #cb8882;
        z-index: 1;
        margin-left: auto;
      }
      &.inspirations {
        width: 500px;
        background-color: #e36267;
        margin-top: -160px;
      }
      &.description {
        position: relative;
        width: 450px;
        background-color: #cf3b28;
        z-index: 1;
        margin-left: auto;
        margin-top: -140px;
      }
    }
  }

  &.description {
  }

  &.wet-lab {
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      .snake {
        width: 400px;
      }
      .badge {
        width: 400px;
        height: 200px;
      }
    }
    & > .badge {
      width: 100%;
      height: 300px;
      margin: 0 auto;
    }
  }

  &.human-practices {
    position: relative;
    .shit {
      padding-top: 60px;
    }
    .conversation {
      position: absolute;
      top: 100px;
      border-radius: 16px;
      padding: 36px;
      font-size: 24px;
      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 10px 10px 0 10px;
      }
      &.c1 {
        background-color: #cb8882;
        &:after {
          bottom: -10px;
          right: 20px;
          border-color: #cb8882 transparent transparent transparent;
        }
      }
      &.c2 {
        background-color: #e36267;
        line-height: 1.5;
        right: 80px;
        &:after {
          bottom: -10px;
          left: 30px;
          border-color: #e36267 transparent transparent transparent;
        }
      }
    }
  }

  &.interview-video {
    iframe {
      pointer-events: all;
    }
    .text {
      padding: 24px;
      p {
        margin-bottom: 12px;
      }
    }
  }

  &.attributions-contributions {
    h2 {
      margin-bottom: 60px;
    }
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      margin-bottom: 20px;
    }
  }

  &.bibliography {
    .text {
      margin-bottom: 36px;
    }
  }
}
