@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: otomanopeeOne;
  src: url(./../assets/font/OtomanopeeOne-Regular.ttf);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: relative;
  font-size: 16px;
  font-family: "Nunito";
}

img {
  max-width: 100%;
  height: auto;
}

button {
  outline: none;
  border: none;
  cursor: inherit;
}

iframe {
  pointer-events: none;
}

a {
  cursor: pointer;
}

* {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #212121;
}

h3 {
  font-size: 24px;
}

h2 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 36px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  position: sticky;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  top: 0;
  background-color: #212121;
  height: 100vh;
  width: 300px;
  padding: 24px;
}
header .logo {
  margin: 0 auto;
  width: 180px;
  margin-bottom: 36px;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
header ul li a {
  min-width: 240px;
  text-align: center;
  display: inline-block;
  border-radius: 9999px;
  background-color: #cb8882;
  color: #000;
  padding: 12px 0;
  font-weight: 600;
}
header ul li a:hover {
  scale: 1.15;
}
header ul li a.active {
  scale: 1.15;
  color: #fff;
}

section.layout {
  width: 100%;
  background-color: #cb8882;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}
section.layout .frame {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.layout .frame footer {
  background-color: #a8497a;
  padding: 32px;
}
section.layout .frame footer h3 {
  text-align: center;
  margin-bottom: 24px;
}
section.layout .frame footer .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.layout .frame footer .info-box .students {
  max-width: 30%;
  min-width: 180px;
}
section.layout .frame footer .info-box .students img {
  width: 100%;
}
section.layout .frame footer .info-box .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 400px;
}
section.layout .frame footer .info-box .info .info-item {
  border-radius: 9999px;
  padding: 12px 24px;
  background-color: #e36267;
  white-space: nowrap;
  border: 1px solid #000;
}
section.layout .frame footer .info-box .info .info-item:nth-child(2) {
  background-color: #871b0f;
}
section.layout .frame footer .info-box .info .info-item:nth-child(3) {
  background-color: #cf3b28;
}

.badge {
  -webkit-clip-path: polygon(0 0, 88% 0, 100% 30%, 100% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 88% 0, 100% 30%, 100% 100%, 0 100%, 0% 50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
}
.badge.c1 {
  background-color: #f6cbcc;
}
.badge.c2 {
  background-color: #e36267;
}

.doc h3 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 12px;
}
.doc h4 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 12px;
}
.doc h5 {
  font-size: 20px;
  margin-bottom: 12px;
}
.doc p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.doc p.in {
  padding-left: 16px;
}
.doc ol {
  padding: 0 18px;
}
.doc ol li {
  margin-bottom: 8px;
}
.doc ul {
  list-style-type: disc;
  padding: 0 18px;
}
.doc ul li {
  margin-bottom: 8px;
}
.doc a {
  display: block;
  margin-bottom: 12px;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.content {
  position: relative;
  padding: 80px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.content.home {
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content.home .box {
  width: 770px;
}
.content.home .ellipse {
  border-radius: 50%/50%;
  aspect-ratio: 2/1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #000;
}
.content.home .ellipse:hover {
  scale: 1.1;
}
.content.home .ellipse.about-us {
  position: relative;
  width: 350px;
  background-color: #cb8882;
  z-index: 1;
  margin-left: auto;
}
.content.home .ellipse.inspirations {
  width: 500px;
  background-color: #e36267;
  margin-top: -160px;
}
.content.home .ellipse.description {
  position: relative;
  width: 450px;
  background-color: #cf3b28;
  z-index: 1;
  margin-left: auto;
  margin-top: -140px;
}
.content.wet-lab .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.content.wet-lab .box .snake {
  width: 400px;
}
.content.wet-lab .box .badge {
  width: 400px;
  height: 200px;
}
.content.wet-lab > .badge {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
.content.human-practices {
  position: relative;
}
.content.human-practices .shit {
  padding-top: 60px;
}
.content.human-practices .conversation {
  position: absolute;
  top: 100px;
  border-radius: 16px;
  padding: 36px;
  font-size: 24px;
}
.content.human-practices .conversation::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 0 10px;
}
.content.human-practices .conversation.c1 {
  background-color: #cb8882;
}
.content.human-practices .conversation.c1:after {
  bottom: -10px;
  right: 20px;
  border-color: #cb8882 transparent transparent transparent;
}
.content.human-practices .conversation.c2 {
  background-color: #e36267;
  line-height: 1.5;
  right: 80px;
}
.content.human-practices .conversation.c2:after {
  bottom: -10px;
  left: 30px;
  border-color: #e36267 transparent transparent transparent;
}
.content.interview-video iframe {
  pointer-events: all;
}
.content.interview-video .text {
  padding: 24px;
}
.content.interview-video .text p {
  margin-bottom: 12px;
}
.content.attributions-contributions h2 {
  margin-bottom: 60px;
}
.content.attributions-contributions .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-bottom: 20px;
}
.content.bibliography .text {
  margin-bottom: 36px;
}